
body {
        margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

a {
    text-decoration: none;
}

img {
        display: block;
        max-width: 100%;
}

/* common */

.container {
        width: 100%;
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;   }

.header-container,
.main-container,
.footer-container {
        composes: container; }


/* header */

.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
        display: flex;
        align-items: center;
}

.header-nav {
        display: flex;
        align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
        padding: 24px 0;
        margin-right: 76px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
}



.nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
        position: relative;
}

.nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
}

.contacts-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.page-footer{
    background-color: #2e2f42;
}

/* ------ section-one ----- */

.section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 188px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 188px 0;
        background-color: #2e2f42;
        margin-left: auto;
        margin-right: auto;
        position: relative;
}

.title-section-one {
        max-width: 496px;
        font-weight: 700;
        margin: 0 auto 48px;
        font-size: 56px;
        text-align: center;
        max-width: 496px;
        line-height: 1.07;
        letter-spacing: 0.02em;        
        color: #fff;
        margin-bottom: 30px;
}    

.button-primary {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: var(--primary-color, #4d5ae5);
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.button:hover,
.button:focus {
        background-color:#404BBF;
        }


/* ----- section-two ------*/
.section-two {
        padding: 120px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        white-space: nowrap;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(100%);
        border: 0;   }

.list-section-two {
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
}

.list-item {
        flex-basis: calc((100% - 72px) / 4);
}

.icon_box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
}

.list-item-section {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;     }

/* --------- Секція три ----------- */
.section-three {
        background-color: #f4f4fd;
        padding: 120px 0;
}

.title-section-three {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.list-section-three {
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0 0 32px 0;
        /* Додано відступ знизу перед соцмережами */
        list-style: none;
}

.team-item {
        background-color: #ffffff;
        flex-basis: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
        padding: 32px 0;
}

.team-name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 16px;
        /* Додано відступ між текстом та іконками */
}

.social-items {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
}

.social-items-menu {
        width: 40px;
        height: 40px;
}

.social-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--social-bg-color, #4d5ae5);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        outline: none;
}

.social-menu:hover {
        background-color: #404bbf;
}

.social-menu:focus {
        background-color: #404bbf;
        box-shadow: 0 0 0 3px rgba(64, 75, 191, 0.3);
}

.social_list {
        fill: var(--icon-fill-color, #f4f4fd);
        width: 16px;
        /* Змінено розмір іконок на стандартний */
        height: 16px;
        pointer-events: none;
}

:root {
        --social-bg-color: #4d5ae5;
        --icon-fill-color: #f4f4fd;   }

/* --------- section-four -----------*/

.section-four {
        padding-top: 120px;
        padding-bottom: 120px;
}

.title-section-four {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        padding: 0;
        margin: 0;
        list-style: none;
}

.portfolio-item:hover {
        box-shadow:
                0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);     }

.portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img_wrap {
        position: relative;
        overflow: hidden;
}

:root {
        --text-light-color: #f4f4fd;     }

                .img-description {
                        color: var(--text-light-color);
                        position: absolute;
                        top: 0;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        padding: 40px 32px;
                        background-color: #4d5ae5;
                        height: 100%;
                        width: 100%;
                        transform: translateY(100%);
                        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        will-change: transform;
                        /* Для кращої анімації */
                }
        
                .portfolio-item:hover .img-description {
                        transform: translateY(0%);             }

.portfolio-image {
        display: block;
        width: 100%;
        height: auto;
}

.portfolio-info {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-category {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;     }

/*------ footer -----*/

.page-footer {
        padding: 100px 0;
        background-color: #2E2F42;
}

.footer-container {
        display: flex;
        align-items: baseline;
        gap: 80px;
        /* Додано відступ 80px між блоками */     }

.footer-branding {
        flex: 0 0 auto;
         /* Забороняє стягування */
        min-width: 264px;
        /* Мінімальна ширина як у макеті */
        margin-right: 120px;             }

.container-footer-container {
        display: flex;
        align-items: baseline;
}

.footer-branding {
        margin-right: 120px;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
}


.footer-social-title {
        color: var(--footer-text-color, #FFFFFF);
        font-weight: 500;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}

.footer-social {
        gap: 16px;
}


.page-footer-text {
        margin-bottom: 16px;
        max-width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.social-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_list {
        fill: #f4f4fd;
        width: 16px;
        height: 16px;
}

.footer-menu:hover,
.footer-menu:focus {
        background-color: #31d0aa;
        outline: none;
}

.footer-menu:focus {
        box-shadow: 0 0 0 3px rgba(49, 208, 170, 0.3);
}


.footer-form {
        margin-top: 80px;
} 

.footer-form-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
}


.form-foot {
        display: flex;
        gap: 24px;
}

.footer-form-label {
        display: block;

}

.input_email {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
}

.input_email::placeholder {
        color: #ffffff;
}

.btn_submit {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;
        gap: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}

.btn_submit:hover,
.btn_submit:focus
{
        background-color: #404BBF;
        outline: none;
}

.btn-icon {
        margin-left: 16px;
        fill: #ffffff;
}


/* modal */
:root {
        --primary-text: #2E2F42;
        --secondary-text: #8e8f99;
        --accent-color: #4D5AE5;
        --accent-hover: #404bbf;
        --light-bg: #F4F4FD;
        --white: #ffffff;
        --modal-bg: #fcfcfc;
        --button-bg: #e7e9fc;
}


.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1000;
}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.backdrop.is-hidden {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
        border-radius: 4px;
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: var(--modal-bg);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1001;
}


.modal__close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--button-bg);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
        background-color: var(--accent-hover);
        border: none;
        outline: none;
}

.modal__close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--primary-text);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
        fill: var(--white);
}


.modal__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-text);
        margin-bottom: 16px;
}


.form__field {
        margin-bottom: 8px;
}

.form__field--comment {
        margin-bottom: 16px;
        /* більший відступ для коментаря */   }


.form__label {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--secondary-text);
        margin-bottom: 4px;
}

.input__wrapper {
        position: relative;
}

.form__input {
        width: 100%;
        height: 40px;
        padding: 8px 16px 8px 38px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
        border-color: var(--accent-color);
}

.input__icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 24px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus+.input__icon {
        fill: var(--accent-color);
}


.form__textarea {
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
        border-color: var(--accent-color);
}


.form__privacy {
        margin-bottom: 24px;
        display: flex;
}

.privacy__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
}

.privacy__label {
        align-items: center;
        gap: 8px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--secondary-text);
        cursor: pointer;
}


.privacy__icon {
        display: inline-flex;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: transparent;
}

.privacy__checkbox:checked+.privacy__label .privacy__icon {
        background-color: var(--accent-hover);
        border: none;
        fill: var(--light-bg);
}

.privacy__link {
        color: var(--accent-color);
        text-decoration: underline;
}


.form__submit-btn {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);     }

.form__submit-btn:hover,
.form__submit-btn:focus {
        background-color: #404BBF;
        outline: none;       }

.input_email {
        width: 264px;
        height: 40px;
        border: 1px solid var(--white);
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--white);
}

.input_email::placeholder {
        color: var(--white);
}

.btn_submit {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white);
        cursor: pointer;
        background-color: var(--accent-color);
        border: none;
        border-radius: 4px;
        padding: 8px 24px;
}

.btn-icon {
        margin-left: 16px;     }

